.list {
  width: 100%;
  margin-top: 25px;

  .listTitle {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 15px;
  }

  .wrapper {
    position: relative;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: scroll;
    height: max-content;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      margin: 0 15px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(168, 161, 161, 0.384);
      border-radius: 20px;
    }
    .container {
      margin: 15px 15px;
      display: flex;
      width: max-content;
    }
  }
}
